# Ignore virtual environment
venv/
.venv/
datasets/rosbotxl_data
models2/test_transformer/ViT-B_16.npz
# Ignore macOS system files
.DS_Store

# Ignore Python bytecodes
__pycache__/
*.pyc

# Ignore other common directories
node_modules/
build/
datasets/
