<?xml version="1.0"?>
<launch>

  <arg name="logging" default="screen" />
  <arg name="dest" default="./rosbot_dataset" />
  <arg name="joy_node_dev" default="/dev/input/js0"/>
  <arg name="collecting" default=true/>

  <node pkg="datacoll" type="dataset_writer.py" name="ROSbot_dataset_writer_node" output="$(arg logging)">
    <param name="dest" type="string" value="$(arg dest)" />
  </node>

  <node pkg="datacoll" type="teleop_joy_concurrent.py" name="joy_control" output="$(arg logging)">
    <!-- <param name="dest" type="string" value="$(arg dest)" /> -->
  </node>

  <!-- joy node -->
  <node respawn="true" pkg="joy" type="joy_node" name="rosbot_joy" >
    <param name="dev" type="string" value="$(arg joy_node_dev)" />
    <!-- <param name="deadzone" value="0.12" /> -->
  </node>

  <include file="$(find husarion_ros)/launch/rosbot_drivers.launch">
  </include>

</launch>
