<?xml version="1.0"?>
<launch>

  <arg name="logging" default="screen" />
  <arg name="dest" default="./dataset" />

  <node pkg="data_collection" type="dataset_writer.py" name="ROSbot_dataset_writer_node" output="$(arg logging)">
    <param name="dest" type="string" value="$(arg dest)" />
  </node>

  <!-- <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="$(arg logging)">
  </node> -->

</launch>
